@import (less) 'inc/_resetCss.css';
@import 'inc/_vars';
@import 'inc/_mixins';
@import 'inc/_fonts';


body {
  background-color: @body-color;
  padding-top: 4rem;
  font-family: 'ProximaNova';
  color : @font-color;
  counter-reset: section;
}

.button {
  .button-regular;
}

#container {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;



  @import '_header';

  main {
    border: 1px solid @border-color;
    border-radius: 3px;
    @import '_order-section';
    @import '_form';
  }



}
