.uppercase {
  text-transform: uppercase;
}
.button-regular {
  background-color: transparent;
  font-family: 'ProximaNova';
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  text-decoration: none;
  position: relative;
  font-weight: 500;
  border: 1px solid #C9D0E1;
  border-radius: 3px;
  padding: 17px 35px;
  color: #A5ABC6;
  font-size: 14px;
  text-align: center;
  .fa {
    font-size: 1.2em;
  }
}
.title {
  position: absolute;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.03em;
  .fa {
    font-size: 20px;
    margin-right: 10px;
  }
}